body{
    display: flex;
    flex-direction: column;
}
body h1{
    text-align: center;
}
body th{
    padding-right: 10px;
}
button{
    margin-left: 5px;
}
.inputTarea{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.container p{
    font-weight: bold;
}
section h4{
    text-align: center;
}
table {
    margin-top: 10px;
    border: 2px solid black;
}